@import url(../reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* Modal Inclusão Clientes /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.modalClientes {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

form{
    background-color: #ffffff;
    color: #374866;
    margin: 3% auto 1rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
    padding: 0.8rem;
}

form h1{
    color: #374866;
    font-size: x-large;
    font-weight: 600;
}

.modalLinha{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

input{
    width: 100%;
    outline: none;
    border: 1px solid #37486376;
    border-radius: 1rem;
    padding: 0.5rem;
}

.buttons{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttons button{
    width: 70%;
    outline: none;
    font-weight: 600;
    background-color: #f39236;
    border: 1px solid #f39236;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer ;
}

#btVoltar{
    width: 30%;
    outline: none;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #374866;
    color: #374866;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer ;
}

/* Modal Edição Clientes /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 

.modalClientesEdit {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modalClientesEdit form{
    background-color: #ffffff;
    color: #374866;
    margin: 3% auto 1rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
    padding: 0.8rem;
}

.modalClientesEdit form h1{
    color: #374866;
    font-size: x-large;
    font-weight: 600;
}

.modalLinha{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.modalClientesEdit input{
    width: 100%;
    outline: none;
    border: 1px solid #37486376;
    border-radius: 1rem;
    padding: 0.5rem;
}

.buttonsEdit{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttonsEdit button{
    width: 30%;
    outline: none;
    font-weight: 600;
    background-color: #f39236;
    border: 1px solid #f39236;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer ;
}

#btVoltarEdit{
    width: 10%;
    outline: none;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #374866;
    color: #374866;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer ;
}

/* Tabela de Clientes /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 

.action__div {
    width: 95%;
    margin: 1rem auto 0.4rem auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.action__div button {
    font-size: 1.1rem;
    color: white;
    background-color: #374866;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.6rem;
    transition: 0.3s;
    cursor: pointer;
}

.action__div button:hover {
    transform: scale(1.03);
}

.table-container {
    width: 95%;
    margin: 0 auto 1rem auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
}

thead, th {
    position: inherit;
    top: 0;
    background-color: #374866;
    color: white;
    z-index: 10;
}

tbody {
    display: block;
    max-height: 480px;
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 0.8rem;
    text-align: center;
}

tbody td {
    border-bottom: 1px solid #374866;
}

tbody tr:hover {
    background-color: #37486613;
}


thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}