@import url(../reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat';
    text-align: center;
}

nav{
    margin-top: 2rem;
}

ul{
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #374866;
    font-size: large;
    font-weight: 500;
    transition: 0.2s;
}

a:hover{
    color: #f39236;
}
